*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 150px;
    
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.logo{
    width: 25%;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    cursor: pointer;
    
}

.logo i{
    font-size: 40px;
    padding: 6px;
}

.nav-menu{
    position: relative;
    left: 25%;
    cursor: pointer;
   

}
ul li{
    padding: 35px;
    display: inline;
    
}

.nav-menu ul li a{
    text-decoration: none;
    color: rgb(123, 117, 117);
    transition: all ease 0.6S;
    

}

.nav-menu ul li a:hover{
    color: rgb(103, 163, 200);
    
    
}



/* ################################# */


.slider{
    margin-left:31px;
    width: 95%;
    border: 2px solid black;
    height: 600px;
    background-image: url("/img/header/header-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}



.contant{
    color: aliceblue;
    margin-top: 300px;
    text-align: center;
    justify-content: center;
    
    line-height: 30PX;

    
}

.contant h1{
    letter-spacing: 4px;
}

.contant a{
    color: aliceblue;
    transition: all ease 0.6s;
    text-decoration: none;
    border-bottom:2px solid rgb(234, 191, 111) ;
    
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;


    
}

.contant a:hover{
    color: rgb(234, 191, 111);
    box-shadow: 0px 0px 6px rgb(234, 191, 111);
}




/* -------------------------------------------------------------------------- */
/*                                    Card                                    */
/* -------------------------------------------------------------------------- */

.card-container{
    width: 100%;
    height: 900px;
    
    
    
}

.heading{
    margin: 80px auto;
    text-align: center;
}

.cards{
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    display: flex;
    
}

.card img{
   
    width: 325px;
    border-radius: 70px 0px;
}

.card{
    background-color: rgb(233, 231, 229);
    
    margin: 20px;
    padding: 20px;
    transition: all ease 0.6s;
    /* border-radius: 40px 0px; */
}

.card:hover{
    transform: translateY(-20px);
}



.cont{
    width: 100%;
}

.cont button{
    margin-top:20px;
    
    
    text-align: center;
    cursor: pointer;
}

.cont button{
    padding: 10px 120px;
    transition: all ease 0.6s;
}

.cont button a{
    text-decoration: none;
    color: black;
    
}

.cont button:hover{
    color: rgb(168, 165, 165);

}










/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */



footer{
    width: 100%;
    border: 2px solid rgb(243, 243, 248);
    height: 150px;
    background-color: rgb(157, 214, 247);
    
}

.footer-contant{
    text-align: center;
    margin: 20px auto;
    
}

.footer-contant p{
    margin-top: 38px;
}

.last-line{
    margin-top:10px ;
    font-size: 13px;
}



/* ####################################### */

.contact{
    width: 100%;
    height: 300px;
    
    display: flex;
    background-color: rgb(230, 250, 243);
    
    
}

.blog{
    text-align: center;
    margin: 20px;
    
}



.blog p{
    margin: 20px ;
    margin-top: 90px;
    
}


.pic img{
    width: 400px ;
    margin: 30px;
    border-radius: 10px 2px;
    
}


.containerr{
    width: 100%;
    height: 600px;
    
    display: flex;
    background-color: rgb(230, 250, 243);

}


.pics img{

    width: 400px ;
    margin: 30px;
    border-radius: 10px 2px;

}

.pp p{
    margin: 20px ;
    margin-top: 220px;
    text-align: center;
}
























